@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  color: #ff8ae2;
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: rgb(7, 37, 64);
  background: linear-gradient(
    180deg,
    rgba(7, 37, 64, 1) 31%,
    rgba(24, 61, 93, 1) 100%
  );
  padding: 0;
  margin: 0;
}

.header {
  padding: 30px;
  background-color: #183d5d;
  margin-bottom: 50px;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: aliceblue;
}
.card {
  background-color: rgba(24, 61, 93, 0.9);
  width: 400px;
  height: 500px;
  margin: 20px;
  border-radius: 10%;
  box-shadow: 1px 1px 5px black;
  transition: 1s ease;
}
.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  border: 10px solid rgb(121, 118, 118);
  opacity: 0.5;
  transition: 1s ease;
}
img:hover {
  opacity: 1;
  transition: 1s ease;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.logo-img {
  margin-bottom: auto;
  width: 200px;
  height: 200px;
  border: none;
}
.quot {
  font-size: 30px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

/*
footer
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: #010E28;
  margin-top: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 20px 30px;
}

.footer-distributed .footer-left p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}




/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 10px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
